* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #191c32;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;

  padding: 2em;
}

.logo {
}

.logo span {
  color: aqua;
}

.menu {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  color: #fff;
  text-decoration: none;

  padding: 10px 20px; /*give extra space to box*/
}

.menu .active {
  color: aqua;
}

.menu a:hover {
  background-color: aqua;
  color: #191c32;

  transition: ease-in 0.5s;
}

.info-content {
 padding-right: 4em;
}

.main {
  margin: 0 auto;
  width: 80vw;
  height: 80vh;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  align-items: center;
}

.main p {
  line-height: 0.10em;
}
.main h1 {
  font-size: 3em;
  
}

.main h1 span {
  color: aqua;
}

.main h3 {
  font-size: 4em;
  line-height: 0.8em;
}


button {
  
  padding: 10px 20px;
  margin-top: 18px;
  border-radius: 20px;
  text-decoration: none;
  list-style: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  list-style: none;
  color: #191c32;
  background-color: aqua;
  box-shadow: 1px 3px 11px -5px rgba(102, 123, 200, 0.69);
}

button:hover {
  background-color: #fff;
  box-shadow: none;
}

.main img {
  width: 30vw;
  height: 520px;
  border: 7px solid orangered;
}

.container {

}

.about {
  width: 100vw;
  height: 100vh;
  background-color: orangered;
  color: #191c32;
}

.about img {
  grid-column: 2/5;
}

.info-content-2 {
grid-column: 4/5;
}

.info-content-2 h1 {
  font-size: 4  em;
}